name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.3"

      - name: Build all binaries
        run: |
          VERSION=${GITHUB_REF_NAME} make build-all

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            bin/fwd-proxy-linux-amd64
            bin/fwd-proxy-linux-arm64
            bin/fwd-proxy-darwin-amd64
            bin/fwd-proxy-darwin-arm64
            bin/fwd-proxy-windows-amd64.exe
